[2019-02-28 20:25] Otterfan opened #1 "Replace or remove in-app mentions of old license"
SpineOMatic is under the MIT License now, so we need to remove any in-app mentions of the old license. This will probably be a two-step process:

1. Replace existing license text with MIT License
2. Turn off license agreement form.

[2019-02-28 20:26] Otterfan opened #2 "Remove update checks"
We are going to turn off automatic updates and start providing notices of new releases that point to GitHub.

[2019-04-01 20:38] Otterfan opened #3 "Make windows & forms resizable"
Users should be able to resize windows to accommodate users with different DPIs or font-size settings.

[2019-04-01 21:07] Otterfan opened #4 "Custom labels fail when an XML element does not exist"
### Current behavior

Custom labels fail if the elements required to build that label don't exist. For example, a label like

    <title>
    <author>

Will fail if the item does not have an `<author>`, which is not uncommon.

### Expected behavior

Either of the following:

- Missing elements should not trigger an error at all.
- Missing elements should trigger an error that can be suppressed if

[2020-01-17 18:38] cudevmaxwell opened #6 "Documentation - README should link to version 8.0.0 download"
The README should link to release 8.0.0, instead of 7.0.0.

This is especially important now that TLS 1.0 (the version used in 7.0.0) is depreciated.

[2020-01-20 15:48] #6 closed

[2020-03-03 20:44] lolliffe opened #9 "Long author fields not wrapping"
Using the following settings, on a custom label, while my title field is wrapping as expected, long author fields are not responding to the `=` wrapping prefix.

`
=<title>`
`=<author>
`

Title field, properly wraps:
Long Rambling
Titles Will Wrap
As Expected /

However, for the author field, it will attempt to print the following in one line, running over the edge of the label:
Contributor, F. M.

[2020-04-27 15:50] mgobat opened #10 "Some users reporting that saved settings are occasionally lost."
From ALMA-L:

We are testing SpineOMatic and setting it up ready for when we return to normal. Unfortunately having a slight problem as it seems it is not loading the previous settings. Seems like it forgets them if the program is not used for a few days/week. Pressing load doesn't seem to make a difference, even though the settings file is saved. Obviously we would like to solve this issue before

[2020-06-24 12:13] mgobat opened #11 "Additional formatting option for "include other value" field for Call Number Format"
Add support for specifying the number of characters to include on the printed spine label from the "include other value" field and in custom labels.

[2020-07-07 17:51] mgobat commented on #1
License removed.

[2020-07-07 17:51] #1 closed

[2020-07-07 17:51] mgobat commented on #10
Replicated....once.  Cannot make it happen consistently.

[2020-07-07 18:13] mgobat commented on #2
Github is now checked for new versions.

[2020-07-07 18:13] #2 closed

[2020-07-13 08:45] dongchch2016 opened #12 "Enter after scan a barcode."
Hi,
When I input a barcode and click enter,then an error comes out.please check the attached.
![sc1](https://user-images.githubusercontent.com/24238286/87283641-13d03f80-c528-11ea-83e2-364d944ee090.jpg)
But the call number is still showing at the right place.

Thanks,
chenchen

[2020-07-13 14:14] mgobat commented on #12
Looks like you are doing a "custom" label.  Could you please report the settings you have for the custom label?  They aren't completely visible in the screenshot.  Also, could you include the contents of the "Current XML" tab when this problem occurs?  Thank you.

[2020-07-13 15:11] mgobat commented on #11
Feature added for next release, 8.1.

[2020-07-13 15:11] #11 closed

[2020-07-13 15:14] mgobat commented on #4
Repaired for next release:   if the field is prefixed with the asterisk (*) operator and the field is missing, the error is suppressed.  Existing asterisk (*) operator functionality maintained.

[2020-07-13 15:14] #4 closed

[2020-07-14 02:14] dongchch2016 commented on #12
[currentXML.txt](https://github.com/ExLibrisGroup/SpineOMatic/files/4916126/currentXML.txt)
[customer.txt](https://github.com/ExLibrisGroup/SpineOMatic/files/4916127/customer.txt)
[spinelabel_settings.txt](https://github.com/ExLibrisGroup/SpineOMatic/files/4916128/spinelabel_settings.txt)

Hi,Mgobat,
please check,
thank you.
chenchen

[2020-07-14 19:36] mgobat commented on #12
Chenchen...

I haven't been able to replicate the problem, but it looks like a font issue.  Could you try setting a barcode font on the "Print Setup" tab?  Your settings.som doesn't have one set.  If that doesn't help, try setting the text font to a font different than your current one, Microsoft Sans Serif.

[2020-07-15 03:24] dongchch2016 commented on #12
Hi,
I tried to set a barcode font with 'Microsoft Sans Serif Regular'. Cause I din't have Microsoft Sans Serif font in my laptop. But I found Microsoft Sans Serif Regular this one. But it still comes same error...

thank you.
![sc22](https://user-images.githubusercontent.com/24238286/87499832-b9e98a00-c68d-11ea-9758-dcfd98ebb724.jpg)
![sc11](https://user-images.githubusercontent.com/24238286/87499

[2020-07-15 14:15] mgobat commented on #12
Chenchen...are you using a Chinese localized version of Windows?

[2020-07-16 08:28] dongchch2016 commented on #12
Yes! Totally right!

[2020-07-16 13:51] mgobat commented on #12
Would it be possible for you to install the Microsoft Sans Serif font to see if that resolves the problem?  I think you can download it if you search Google for "Microsoft Sans Serif font".

[2020-07-17 02:15] dongchch2016 commented on #12
Hi,
I have already installed the Microsoft Sans Serif font, but it didn't work.
![sc](https://user-images.githubusercontent.com/24238286/87741119-4b840380-c816-11ea-8940-9750322883cb.jpg)
by the way, I'm not sure Microsoft Sans Serif and Microsoft Sans Serif Regular can  exist at the same time?

Thank you,
chenchen

[2020-07-20 14:13] mgobat commented on #12
Hmmm....I thought adding the Microsoft Sans Serif font would solve the problem.   I believe the error you report is generated when setting the font during the formatting of the "Current XML" display.  And I think it is setting the font to an empty font object.  At least that was the only way I've been able to replicate the problem.

[2020-07-24 12:52] mgobat commented on #12
Quick (and dirty) fix for next release, 8.1.  Chenchen...please install this new version; hopefully it will no longer generate the reported exception.

[2020-07-24 12:52] #12 closed

[2020-07-27 01:03] dongchch2016 commented on #12
All right.I'll try this version.
Thank you!

chenchen

[2020-07-27 01:26] dongchch2016 commented on #12
Hi  Mgobat,
Good news,It has been fixed!
Thank you for your patient and help!
chenchen

[2020-07-29 14:09] mgobat commented on #10
Well, I thought I replicated this problem once....but since I can't get it to happen again, maybe I'm wrong.  I've traced through the code for quite a bit, and don't see how this is happening.  Does anyone have any reliable steps to replicate the problem?  Thanks.

[2020-08-18 19:35] kellyaquinn opened #13 "Is SpineOMatic Windows 10 compatible."
I noticed Windows 10 is not listed under Installation Requirements in this documentation below, and it is mentioned elsewhere that Windows 7 is preferred.

https://developers.exlibrisgroup.com/blog/spineomatic-label-printing-software-for-alma/

Is SpineOMatic compatible with Windows 10? Thanks!

[2020-08-18 19:45] mgobat commented on #13
Yes, SpineOMatic is compatible with Windows 10.

[2020-08-18 19:45] #13 closed

[2020-09-23 14:09] DanieSwat opened #14 "Setup"
I followed the setup directions but when I scan a barcode I get a "Can't retrieve XML file. Error message: Illegal characters in path." error message.

Manually typed labels print fine.

[2020-09-23 15:01] mgobat commented on #14
Could you please provide me with your "Alma URL" and "Method" values from the "Alma Access" tab?  You may email me at mark.gobat@exlibrisgroup.com.  Thank you.

[2020-09-23 15:16] DanieSwat commented on #14
alma url: https://api-na.hosted.exlibrisgroup.com
method: /almaws/v1/items?view=label&item_barcode={item_barcode}
API key: l7xxfd3ec291dbb34f688306e8cfc964e490

On Wed, Sep 23, 2020 at 11:01 AM mgobat <notifications@github.com> wrote:

[2020-09-23 15:19] mgobat commented on #14
Let me look into this problem.  I deleted your comment because I didn't want your API key made public.  I received the necessary info though, thank you.

[2020-09-23 16:02] mgobat commented on #14
Could you try testing using barcode 12345?  This one works for me.  Do you have a barcode that gives you the error?  What version of SpineOMatic are you running?

[2020-09-23 16:22] DanieSwat commented on #14
Same error message with barcode "12345".

Version 8.1.0

On Wed, Sep 23, 2020 at 12:02 PM mgobat <notifications@github.com> wrote:

[2020-09-23 16:31] mgobat commented on #14
Try putting this URL in a web browser, replacing API_KEY_HERE with your real API key:
https://api-na.hosted.exlibrisgroup.com/almaws/v1/items?view=label&item_barcode=12345&apikey=API_KEY_HERE

Please let me know what you get back in your browser window.
Thanks.

[2020-09-23 16:40] DanieSwat commented on #14
I got " This XML file does not appear to have any style information
associated with it. The document tree is shown below." followed by a long
page of programese.

On Wed, Sep 23, 2020 at 12:32 PM mgobat <notifications@github.com> wrote:

[2020-09-23 16:57] mgobat commented on #14
Okay...that tells me that the problem isn't SpineOMatic.  Could you please email me the entire content of what displays in the web browser at mark.gobat@exlibrisgroup.com?  Thanks.

[2020-09-24 11:54] mgobat commented on #14
The problem was a trailing blank at the end of the Alma URL on the "Alma Access" tab. Will open a bug specifically for that problem.

[2020-09-24 11:54] #14 closed

[2020-09-24 11:57] mgobat opened #15 ""Can't retrieve XML file. Error message: Illegal characters in path." when scanning an item barcode"
If there is a trailing blank in "Alma URL", scanning an items returns "Can't retrieve XML file. Error message: Illegal characters in path."

[2020-09-24 12:54] mgobat commented on #15
Fixed for the release following 8.1.0.

[2020-09-24 12:54] #15 closed

[2020-11-11 11:34] vpeil opened #16 "How to handle special characters in barcode"
Our barcodes look e.g. `100_4230375+02`, obvisouly the `+` is a problem.

Performing the API-Request, and replacing `+` by `%2B` works fine:
https://api-eu.hosted.exlibrisgroup.com/almaws/v1/items?apikey={my-key}&view=label&item_barcode=100_4230375%2B02

Entering this into SpineOmatic results in an error in both cases `100_4230375+02` and `100_4230375%2B02`.

[code]

Any idea? How are barcode entr

[2020-11-11 13:14] vpeil commented on #16
I see in the code that this case in handled: https://github.com/ExLibrisGroup/SpineOMatic/blob/master/Form1.vb#L1217
Have to investigate further.

[2020-11-26 11:37] #16 closed

[2020-12-17 18:01] Rhoustonhbc opened #17 "Getting error message The remote server returned an error: (401) Unauthorized."
I can't figure out why I'm getting this message when I try to use SpineOMatic: The remote server returned an error: (401) Unauthorized.

[2020-12-17 20:18] mgobat commented on #17
What happens when you place the content of the "Alma Access" tab in a web browser?  For example:

https://api-XX.hosted.exlibrisgroup.com/almaws/v1/items?view=label&item_barcode={item_barcode}&apikey={api_key}

Replace XX with the appropriate region for you (ap, eu, na, ca, cn), replace {item_barcode} with a valid barcode for one your items, and replace {api_key} with the value in the "API Key" fi

[2020-12-17 20:32] Rhoustonhbc commented on #17
I still get an error, here is what I see:
![image](https://user-images.githubusercontent.com/25597181/102540482-f3bb2400-4063-11eb-83ff-fd0f258207e8.png)

[2020-12-17 20:45] mgobat commented on #17
Please confirm at https://developers.exlibrisgroup.com/manage/keys/ that the API key you are using has access to the correct area (Bibs) and the correct environment (Sandbox or Production, depending on which you wish to use).

[2020-12-17 20:49] Rhoustonhbc commented on #17
Yes, the API key has access to Bibs and Production.

[2020-12-17 21:24] mgobat commented on #17
Hmmm....puzzling.  Maybe we should take this to email until we figure it out.  Please email me the URL, without the API key, that you used to test in the browser earlier.

mark.gobat@exlibrisgroup.com

Thanks.

[2021-01-07 16:47] lizbodian opened #18 "XML error"
When I try to set up Spine-O-Matic with the latest release, I get an XML error: ***** ERROR *****
Can't retrieve XML file.

Error message: The underlying connection was closed: An unexpected error occurred on a send.

Can anyone tell me how to fix this?

-Liz

[2021-01-07 17:17] mgobat commented on #18
Hi Liz...

Tyr this test, please.

Construct a URL like this:

1. From the "Alma Access" tab in Spine-O-Matic, copy the "ALMA URL" field contents.
2. Copy the "Method" field contents after the the text in step 1.
3. Replace {item_barcode} with a real item barcode in Alma.
4. Add "&apikey=" after the string in step 3.
5. Copy the "API Key" field contents after the string in step 4.

You should end

[2021-01-07 19:25] lizbodian commented on #18
No error, and older versions of Spine-O-Matic that were already installed work just fine.  Is there a way to fix the connection to Spine-O-Matic?

-Liz

[2021-01-07 19:42] mgobat commented on #18
Liz, was version 7.0 of Spine-O-Matic the last version that worked correctly for you?  Let's work on this off github.  I'm at mark.gobat@exlibrisgroup.com.  Thanks.

[2021-02-01 19:45] bkelm opened #19 "Not Seeing Label Prefix for Certain Locations"
I'm able to get label prefixes for some locations, but not some newer locations that we have created. Looking at the XML elements of the file they seem to be the same in both files? Any thoughts on what might be causing the issue?

[2021-02-01 20:32] bkelm commented on #19
Here are two XML calls, the first one prints and the second one does not print it.

[label-printing.txt](https://github.com/ExLibrisGroup/SpineOMatic/files/5906590/label-printing.txt)

[2021-02-01 22:02] bkelm commented on #19
I figured it out, I had an extra space in my location.

[2021-02-02 13:04] #19 closed

[2021-02-02 15:20] SarahZum opened #20 "Setting panel doesn't collapse"
Since upgrading to v8, we can no longer collapse the settings panel using the small purple arrow next to the panel.  The arrow changes direction, so it is recognizing the click, but the settings panel stays open.

[2021-02-02 15:33] mgobat commented on #20
This was fixed in release 8.1.

[2021-02-02 15:33] #20 closed

[2021-02-02 15:39] mgobat commented on #18
User reported that it started working.

[2021-02-02 15:39] #18 closed

[2021-02-02 15:43] mgobat commented on #17
Ensured gateway routing was set up correctly.  The issue wasn't specific to Spine-O-Matic.

[2021-02-02 15:43] #17 closed

[2021-02-09 05:22] jpl-systems opened #21 "Can't Retrieve XML file"
I"m getting this error message:
***** ERROR *****
Can't retrieve XML file.
Error message: The underlying connection was closed: An unexpected error occurred on a receive.

It was working fine on Friday but when the staff came back on Monday Feb 8th 2021, all staff are getting this error message.  I tested the API key and it is working.  I tested by pasting the link( https://api-na.hosted.exlibrisg

[2021-02-12 14:23] mgobat commented on #21
Customer reported that disabling TLS 1.0 caused the problem.  Campus requires that TLS be disabled.  After upgrading to SpineOMatic 8.0, the customer no longer had the problem with TLS 1.0 disabled.

[2021-02-12 14:23] #21 closed

[2021-02-22 18:16] alicecarli opened #22 "unexplained 400 error message"
I have been using Spinomatic for some time. For two recently cataloged copies of the same item, on the same record, the software created a label as usual for copy 2, but gives an error message ("The remote server returned an error: (400) Bad Request.") for copy 1. I checked over the Alma record and noted that copy 1 did not have a Material Type entered in its record. We have corrected that today,

[2021-02-23 01:20] Anjijade commented on #22
Hello, just curious if you are seeing this behavior on other items as well?  Last week we started getting "Error Can't retrieve XML File. Error message: The remote server returned an error: (404) Not Found" on all items we have tested.  Our key and URL have not changed.  Our Spineomatic in house expert recently retired too.
I realize this might be a completely different issue but the timing makes

[2021-02-23 02:10] Anjijade commented on #22
I just found a closed case for my XML issue that says TLS may be the culprit.

[2021-02-26 02:06] Anjijade commented on #18
Curious if we get this message after building the URL as you outline does this mean our API is being blocked?
This XML file does not appear to have any style information associated with it. The document tree is shown below.
<web_service_result>
<errorsExist>true</errorsExist>
<errorList>
<error>
<errorCode>UNAUTHORIZED</errorCode>
<errorMessage>
API-key not defined or not configured to allow this

[2021-02-26 17:06] mgobat commented on #18
If you are getting the message "API-key not defined or not configured to allow this API.", please try recreating your API key and using the new one for SpineOMatic.

[2021-02-26 17:08] mgobat commented on #22
@alicecarli, did you resolve the problem?

[2021-03-04 14:52] ohsospoko opened #23 "Allow user to limit # of characters to 10 or more"
I was excited to see the new feature in 8.1.0 allowing the user to limit the number of characters from a field. Sadly, the field I'm trying to limit is a date, so I need 10 characters from it ('YYYY-MM-DD'). When I put "10" before the field name, it gets read as a "1". I can limit to 9 characters, which is frustratingly close to what I need. Any way to get that 10th character?

[2021-03-04 17:51] mgobat commented on #23
Nice to see someone using this new feature!  Its original intent was to limit the number of characters from1 to 9.  I see that this is too limiting for your needs.  So, its kind of a bug, kind of an enhancement.  Let me see what I can do.

[2021-03-04 19:23] mgobat commented on #23
Added code to support specifying more than 9 characters to include for an element.  In next release.

[2021-03-04 19:23] #23 closed

[2021-03-08 21:58] danizen opened #24 "Question - minimum privileges for API key and CloudApp"
Hi,

I've just let one of my technical librarians know that there is both a SpineOMatic application and a cloud app.  She was clearly trying to use the application, and I am wondering whether you guys are still supporting the application and what your plans on as to how long you plan to do so.

Also, if we do want to setup the application, what API privileges does the API key need?

Thanks,

Dan D

[2021-03-08 22:11] mgobat commented on #24
Hi Dan...

We just released a new version of the SpineOMatic application on 04-March-2021.  There is no plan to discontinue support for the application.  I imagine as the Cloud App version is enhanced with functionality, its use will increase, and we may re-evaluate over time.

You need an API key with read-access to Bibliographic records for the SpineOMatic application.

-mark

[2021-03-18 19:07] cmc-tech commented on #22
We just started having the problem (400 error message above) today. The OCLC Client Software had to be repaired, as well. When I looked in the XML settings SOM said it couldn't load, I found a new error issue. Before, the problem was that the forward slash on an older version we screenshot was at the beginning of the method entry, but now had to be at the end of the URL, instead. This, because the

[2021-03-18 19:56] mgobat commented on #22
Please try this test, building the URL manually and submitting it via a web browser:

1. Start will the "ALMA URL" on the "Alma Access" tab, for example, "https://api-na.hosted.exlibrisgroup.com".
2. Add to it the "Method" from the "Alma Access" tab, for example, "https://api-na.hosted.exlibrisgroup.com/almaws/v1/items?view=label&item_barcode={item_barcode}"
3. Replace {item_barcode} in #2 with th

[2021-03-18 21:11] cmc-tech commented on #22
@mgobat : I tried each of these in Chrome and got the following 4 attached messages at each consecutive step:
[Browser.txt](https://github.com/ExLibrisGroup/SpineOMatic/files/6167183/Browser.txt)
![Capture](https://user-images.githubusercontent.com/6325700/111697448-f61c4e00-880b-11eb-8cce-a4846654d2f0.jpg).

Also, there seems to be a not so obvious error in the XML because it looks like the end t

[2021-03-19 20:12] cmc-tech commented on #10
I can't offer the steps to replicate the issue, but I was told by the librarian that uses Spine-O-Matic that she just started the application the other day and the settings were gone! I doubt she did anything other than her normal method, but the settings had to be recreated, and now we have another issue related to a 400 error message that I posted on that thread, too. If somebody can shed some l

[2021-03-19 20:20] mgobat commented on #22
@cmc-tech : The full URL test is the one that matters.  If you built the URL correctly, it appears that your API KEY isn't defined correctly.  Could you check that your API key has read access to bibliographic records?  Alternatively, you could email me at mark.gobat@exlibrisgroup.com the full URL you tried from step 4, and I'll see if I can figure it out.

[2021-03-19 21:13] cmc-tech commented on #22
@mgobat : I'll email you.

[2021-03-24 15:13] cmc-tech commented on #22
@mgobat : Thanks for your assistance. We weren't able to check the permissions but we found another article/post we learned that the first character in the API Key is an "l" not a "1". In the screenshot we took, with the font used, it looked as if it were a 1. Next time we'll know if we have to make a change.

[2021-04-11 22:57] kellyaquinn opened #25 "Question: different print setup settings per label types"
Hi, is it possible to have print setup settings for the spine label and different settings for the custom label? I would like the print setup settings to change when the user switches between the spine label and the custom label type. I apologize if this is covered in the documentation. Thanks.

[2021-04-12 20:12] mgobat commented on #25
No, the print setup panel settings are not stored separately in the configuration file for "Spine" and "Custom".  Let's flag this one as an enhancement request.

[2021-04-14 03:31] danizen commented on #24
Thanks - the implementation team has decided to use it.

[2021-04-14 03:31] #24 closed

[2021-04-15 20:13] rodltl opened #26 "Update Spineomatic"
Good afternoon everyone,

I have spineomatic 7.0 at my workplace and the API may break soon so I need to update it.  Unfortunately, the check for update functionality is not working.  Is there an easy way to upgrade what we currently have so I do not need to reconfigure this software?  It was installed before I started this position so I'm completely unfamiliar with it.  Thank you in advance.

[2021-04-15 21:03] mgobat commented on #26
To be safe, you can make a copy of the settings.som file in the folder in which the SpineOMatic program resides.  But the installation of a newer version is just copying a binary file.  You may download the latest version from https://github.com/ExLibrisGroup/SpineOMatic/releases.  It shouldn't affect your settings.

[2021-04-15 21:03] #26 closed

[2021-04-16 18:23] rodltl commented on #26
I expected this to be much worse.  I have already upgraded the programs and want to thank you for your assistance.  You saved me a lot of time and effort. Have a great weekend.

[2021-04-16 18:36] #22 closed

[2021-06-02 18:36] mbaileyUWSP opened #27 "Java"
We have been using the desktop Java app with version 7.0.0. I was trying to set it up with a new worker and it is not working correctly. Are we still able to use the desktop Java app? Or do we need to use the RESTful API?

[2021-06-02 18:52] mgobat commented on #27
We removed the deprecated access methods, including Java, in the 8.0.0 release.  The RESTful API is the only supported access method post-7.0.0.

[2021-06-02 18:52] #27 closed

[2021-06-30 23:54] delafo opened #28 "Text in Labels is gibberish"

[2021-07-01 00:03] delafo commented on #28
As per attached. After installing SpineOmatic and successfully retrieving a Call # the printed label is coming out in some odd format (encoding?) Is there some adjustment I need to do in Windows or in the driver to print what is correctly displayed in the Call number area of spineOmatic ?
We are recent to Alma but the same printer has printed flawlessly under Sierra so I'm baffled as to where to a

[2021-07-01 14:08] mgobat commented on #28
@delafo, please email me your settings.som file and I'll take a look.  mark.gobat@exlibrisgroup.com

[2021-07-01 15:45] delafo commented on #28
Thank you Mark,

Attached you'll find the settings.som

Overnight I may have figured out one problem. This printer (GX430t) was
purchased from another vendor and it was customized (somehow) to work with
Sierra. So could it be that they customized the firmware on this machine?
I cannot  flash it back to factory settings right now since I have a user
who needs it for a lot of printing in Sierra whic

[2021-07-09 15:49] jessestn opened #29 "Long scan times with cut and paste"
When we scan a barcode in from a barcode scanner, everything works normally and it pulls up a call number almost instantly.
If we cut and paste a barcode from a file into the scan field, the search takes much, much longer and sometimes even hangs. The search time is very variable but always longer than just scanning it in.

The barcodes are in a plaintext file generated by our handheld barcode sca

[2021-07-09 20:53] mgobat commented on #29
Hmmm...that's interesting.  Even more odd is if, after pasting the barcode, you move your mouse pointer off the app before hitting <Enter>, it works fast again.  @jessestn , do you see that behavior, too?

[2021-07-09 21:02] jessestn commented on #29
Yes, I just tried it. If the mouse pointer isn't over the app when enter, it seems to go about the normal speed.
Also, I didn't mention it before, but if you use the drop-down to "re-scan" a previously scanned barcode it also always took much longer, but moving the mouse pointer seems to fix that as well.

Weird.

[2021-07-12 20:27] mgobat commented on #29
I've replicated the problem back to 7.0. Will look into it for the next version.

[2021-07-13 21:35] ReadRet opened #30 "When a $$k subfield is present, the call number formating is lost"
Whenever we have a $$k subfield in the 852 field, the call number formatting specified in "Tweak and Test" is not used.  If the $$k subfield is not present, the spine label prints correctly.  However, having the $$k print at the head of the spine label is important for the organization of our collection.

We get                                    instead of
youth

[2021-07-23 13:52] mgobat commented on #28
Glad things are working for you now, @delafo.

[2021-07-23 13:52] #28 closed

[2021-08-12 14:00] matthewdineiro opened #31 "Print is overextending"
Hi, I'm printing spine labels, and it's having the issue where it prints out one correct label and then overextends a few labels after that. It seems like it thinks it's a full 8.5x11 page rather than the small label it's printing out. I also don't know if the fact that the label printer is an old Dot Matrix printer affects this problem.

[2021-08-30 11:05] VangelisPalaskas opened #32 "Barcode printing"
Hi Ex Libris community,

Very recently I started exploring the SpinOMatic cloud app. I found out that there are some limitations when it comes to printing barcodes.

Significantly, when in the template options I choose to display both the barcode and its value, the app constraints the size of the barcode's font ending-up with a fixed-size template only (please see attachment). FYI the format used

[2021-09-16 20:19] kustanovich opened #33 "Blank Labels (Dymo LabelWriter 450)"
Greetings folks,

I installed the latest version on my work PC. The API has been validated and the program seems to be communicating correctly with our DYMO LabelWriter 450 printer, which we used to use with Voayger (we’ll replace that printer next year, but I’m stuck with it for now).

The problem is that the printer spits out blank labels when I use SpinoMatic, but it has no problem printing lab

[2021-09-16 20:39] mgobat commented on #33
@kustanovich, do you have the ability to test with a different printer, perhaps a standard desktop or network printer, just to be sure SpineOMatic works without the specialty DYMO printer?  I know the labels won't be useable, but I'd like to be sure the issue is specific to the DYMO printer. Thanks.

[2021-09-16 20:53] kustanovich commented on #33
Hi,

Thanks for such a prompt response. I just changed the printers and printed it out on my regular desktop printer.
The format is out of whack, obviously, but it printed without a problem.  So thank you for suggesting that.

The problem is not with the Dymo printer, however, because it prints out perfectly from the DymoConnect page.

Alex

From: mgobat ***@***.***
Sent: Thursday, September 16, 2

[2021-09-16 20:58] mgobat commented on #33
@kustanovich, thanks for performing that test. The results are as I expected, but wanted to confirm. Let me research this a bit. Thanks.

[2021-09-16 20:59] kustanovich commented on #33
Thanks very much!

From: mgobat ***@***.***
Sent: Thursday, September 16, 2021 4:59 PM
To: ExLibrisGroup/SpineOMatic ***@***.***>
Cc: Alexander Kustanovich ***@***.***>; Mention ***@***.***>
Subject: Re: [ExLibrisGroup/SpineOMatic] Blank Labels (Dymo LabelWriter 450) (#33)

@kustanovich<https://urldefense.com/v3/__https:/github.com/kustanovich__;!!ErLS1_HoSnGPc4u4!Sx5DmXUxNMGa-NYThKtw-wJMaHTeVEJjU

[2021-09-16 21:37] bmulchin opened #34 "Label printer compatibility"
Hello,
Would it be possible to get confirmation whether a TSC TTP-247 thermal label printer is compatible with SpineOMatic? I'm trying to use one in Alma, but after getting SpineOMatic installed and the API set up, I hit print and nothing happens. I'm wondering if it's a compatibility issue or if I don't have all of the drivers I need for the printer (it was difficult to get it working with our pr

[2021-09-21 15:11] mgobat commented on #34
@bmulchin, SpineOMatic doesn't explicitly support or not support any particular printer. The program relies on the existence of a Windows printer driver for the printer. The SpineOMatic program itself doesn't do anything special for any one printer. I would ensure you have the latest version of the Windows printer driver for the TSC TTP-247 installed, then give SpineOMatic a try.

[2021-09-21 15:14] mgobat commented on #33
@kustanovich, please ensure you have the latest Windows printer drivers installed for the printer.  See https://www.dymo.com/en_CA/labelwriter-450.html.

[2021-09-22 16:47] bmulchin commented on #34
I see, thank you. I'll do some more digging and make sure I have all of the drivers I need for my printer.

[2021-09-22 16:47] #34 closed

[2021-09-27 13:54] mugwosim commented on #33
Hi there,
it seems, that we at Graz Medical University have pretty sure the same problem. We use a Citizen CL-E321 printer in a normal Win10-environment. The SpineOMatic utility itself (version 8.1.2) seems to do fine (data in preview is ok), but all the labels are completely empty. Printing from other programs works well!

Help highly appreciated!

Thx in advance,
Wolfgang

[2021-09-27 18:15] kustanovich commented on #33
Hi Wolfgang,

I remedied the problem with a helpful suggestion from Tamara Marnell (see below).
I hope it works for you too.

Best,
Alex

On Sep 17, 2021, at 1:34 PM, Tamara Marnell ***@***.******@***.***>> wrote:
﻿Hi Alex,
 When I've had blank spine labels coming out of SpineOMatic, it was because of either large margins or an incorrect document size sent to the label printer. The text was gettin

[2021-10-20 18:10] drenzar opened #35 "Error retrieving XML file "remote server error (500) Internal Server Error"
Have a workstation running SOM 7.0 successfully for many months that last week satarted getting this error every time when scanning any item. Upgraded to version 8 and still get the same error. Checked our apikey and verified that it is Bibs, Production, and read-only (but not sure beyond that how to check its validity). Ran the manual command in a browser (https://{na exlibris server}/{method inc

[2021-10-21 19:48] #35 closed, assigned to mgobat

[2021-10-27 20:31] JaynaLG opened #36 "Error 401"
I am experiencing "Error Message 401: the remote server returned an error: after I configured Spine-O-Matic.
Our library only has 1 Zebra printer and I downloaded the Spine-O-Matic software within my user profile on workstation that already has the software downloaded but is only accessible on another profile.
Please advise.

[2021-11-02 14:41] risard opened #37 "Printing local call numbers."
Hi,

We're new to SpineOMatic at my library having just migrated to Alma, and I can't seem to figure out how to print a local call number. We have a number of books in a "Leisure Collection" with custom call numbers in the 090 field. However, The XML SpineOMatic is pulling from Alma, only pulls the 050. Is there a way to include the 090?

Thanks
Robin

[2021-11-11 13:51] mgobat commented on #33
@mugwosim, great detective work on the margins! Interestingly, I have replicated the problem but with the exact opposite results; using the dot for decimal works for me, but using comma results in the label being printed way over to the right. Changing my Windows regional setting to use the comma instead of the dot for the "Decimal symbols" results in using the dot and comma in SpineOMatic both pr

[2021-11-11 16:27] mgobat commented on #36
Hi @JaynaLG. Did you get beyond this problem? If not. help me understand the problem a bit better. You've installed SpineOMatic on the same workstation twice, each time as a different user....but only one of them works correctly even though both copies are configured identically? Thanks.

[2021-11-11 17:21] mgobat commented on #37
@risard, please see [this ExLibris Developer Network Page](https://developers.exlibrisgroup.com/alma/apis/docs/bibs/R0VUIC9hbG1hd3MvdjEvYmlicy97bW1zX2lkfS9ob2xkaW5ncy97aG9sZGluZ19pZH0vaXRlbXMve2l0ZW1fcGlkfQ==/) for details of what item information is returned to SpineOMatic from Alma for inclusion in your printed labels. The contents of the response is not modifiable.

[2021-11-11 17:21] #37 closed

[2021-11-16 15:22] mugwosim commented on #33
Hi all,
in my regional settings the decimal symbol is the comma. When I change it to "dot" SpineOMatic works like expected with either decimals - thx for the hint! After resseting to comma the problem occurs again, differently to your system @mgobat , if I understood right...

Best regards,
Wolfgang

[2021-11-16 15:56] #33 closed

[2022-01-06 03:55] samigholam opened #38 "can't print barcode with flag slips"
When printing custom flag slips there is an option to print the barcode !<barcode>
in the printer setup I select the barcode font "Free 3 of 9 Extended" this is the font that most libraries use
but the label preview of the barcode is not translated into a barcode !39585739309
any idea how to fix this? - thanks
![no barcode](https://user-images.githubusercontent.com/33610102/148325805-879e3830-1bc8

[2022-01-06 20:04] mgobat commented on #38
Does the printed label contain the translated barcode? I believe "Preview" doesn't display the translated barcode regardless of font selection.

[2022-01-11 18:40] mgobat commented on #36
Closing due to lack of response. Please open a new issue if this problem continues.

[2022-01-11 18:40] #36 closed

[2022-01-14 18:53] samigholam commented on #38
Thanks for the response, the barcode prints on a laser printer, my confusion was that in the documentation the barcode was showing in the yellow box but that might be for demo purpose. - thanks

[2022-01-14 18:53] #38 closed

[2022-02-28 18:48] panamintsteve commented on #25
Hello Kelly and mgobat,
We have the same interest here.
Thank you.

[2022-03-15 10:19] lawlibhuji opened #40 "printing labels on spineomatic"
Hello,
we have a question about SpineOmatic that we are using in our library in order to print our labels:
we can not read the book barcode (and we get always the announce:
Can’t retrieve XML file.
Error message: The underlying connection was closed: An unexpected error occurred on a send.
we have not made any change on the current XML.
can anyone please help what should we do?
thanks,

Francesco

[2022-03-15 13:06] mgobat commented on #40
Could your workstation be using a deprecated version of tls? Please see https://knowledge.exlibrisgroup.com/Cross-Product/Knowledge_Articles/Transport_Security_Layer_(TLS)_Support.

[2022-03-16 07:16] lawlibhuji commented on #40
hello, I am not sure about that and how can I know.
thank you for your help!

[2022-03-16 17:24] mgobat commented on #40
@lawlibhuji, probably best to engage your IT team to check for you. Generally, Windows 10 version 1507+ have TLS 1.2 enabled by default.

[2022-03-21 18:51] MaggieMcGee opened #41 "When using Parsed call number in the template, is it being pulled from the holdings record still?"
Hi,

If you use the parsed call number? Where is it pulling the call number from? Using the holding call number does not allow the call number parsing to work properly when using that in the template. I switched to parsed call number and it works as it should.

Thanks,
Maggie

[2022-03-24 06:09] Ruchiya commented on #25
We have the same interest here - would really like to see a way that we can switch around different label setting easily (e.g. able to save particular setting as a template)  without the need to re-enter the field every time

[2022-03-24 20:02] mgobat commented on #41
Using "parsed call number" in the template uses the call number from the item record.

[2022-04-12 17:50] vpnakkeow commented on #25
Previously I would run 2 instances of SpineOMatic v.6. Each instance used the settings saved for a specific label type. I can't seem to do that now with v.8.1.2. So, yes, can we have a way to save multiple label settings and then be able to switch between them? Please and thank you.

[2022-05-16 17:28] bjuhl opened #42 "pocket labels wrapping"
We are new to Alma (go live in July) and testing SpineOMatic.  We have custom settings for spine labels that work great but when we try to print pocket labels, the text in, for instance, location name is breaking on the pocket label and not using the full width of the label.  Fields in the associated spine label are also wrapping.  We can't seem to use prefix codes like = on the pocket label field

[2022-05-16 19:38] mgobat commented on #42
@bjuhl , I believe the call number in the spine label will wrap based on the call number format. Do you have "Ex Libris parsing" or "SpineOMatic parsing" selected for the Call Number Format? Have you explored the options offered by clicking "Tweak & Test"?

[2022-05-16 19:45] bjuhl commented on #42
Thank you so much, @mgobat !  We've tried both Ex L Parsing and SpineOMatic parsing - They work fine on spine label printing but then when we check pocket labels the wrapping issue pops up.

In spine labels only we can use the % with the data element to set parsing as in
<location_code>
**%**<call_number>
<issue_level_description>

But then in pocket label, one doesn't seem to be able to use those

[2022-05-16 19:51] mgobat commented on #42
My apologies, @bjuhl. I misunderstood the issue. So the wrapping is fine when you print just Spine Labels, but once you select Pocket Labels, the wrapping is incorrect on the Spine Label and Pocket Label. Am I understanding correctly now?

[2022-05-16 19:55] bjuhl commented on #42
That's exactly it!  I am sorry @mgobat I probably did not explain it very well.  It is not a make or break issue for us but we were curious if there was a setting we hadn't found to make this work a little better.  thank you.

[2022-05-16 20:10] mgobat commented on #42
@bjuhl, sounds like a defect. We will take a look...no timeline for a fix, though. There are so many formatting options to consider...and not break.

[2022-05-16 20:11] bjuhl commented on #42
thank you so much!  I understand absolutely about not breaking things!  Will stay tuned!

[2022-05-17 13:54] BarbaraSalfate opened #43 "XML error"
Hi,
We have a problem since yesterday.
All the user with spin-o-matic can´t work with the application  (not the cluoud app).
I want to know if there some disconection or desability from this app.
![spin o matic](https://user-images.githubusercontent.com/105246437/168827176-0d447dd7-d426-4954-955d-59d3edfc8582.png)
But the cloud app is working fine. We don´t understand this diference.
Best regards

[2022-05-17 14:00] mgobat commented on #43
Please upgrade to the latest version manually. You may download it from https://github.com/ExLibrisGroup/SpineOMatic/releases/download/v8.1.2/SpineLabeler.exe

[2022-05-18 13:39] UAlbanyErich commented on #43
We are seeing the same issue.  It was reported to from a user with v7.0, but I'm getting the exact same message for v8.1.2.

The URL in the AlmaAccess tab with the API attached (https://api-na.hosted.exlibrisgroup.com/almaws/v1/items?item_barcode={barcode}&apikey={APIkey}) works in a browser though, so it's not the service or the APIkey.

[2022-05-18 13:57] UAlbanyErich opened #44 "run as admin required?"
I don't normally use SpineOMatic, but in troubleshooting [a connection issue](https://github.com/ExLibrisGroup/SpineOMatic/issues/43), I "installed" it (to `c:\Spine`) using a local admin account.  `SpineLabeler.exe` wouldn't open for my normal, unprivileged account, but it did open if my account was given admin rights.  I adjusted the NTFS security so all users have "full control" to the entire f

[2022-05-19 13:11] mgobat commented on #44
@UAlbanyErich, it should not require admin privileges. Does the same problem happen if installed in a user directory rather than in the C root?

[2022-05-19 13:22] UAlbanyErich commented on #44
Yes, it does.  Copying the folder or downloading a new copy of the .exe from here into a folder within the unprivileged user profile, and it attempting to start it as that unprivileged user does the same 1 second wait circle and nothing.  Right-clicking -> run as admin and entering admin credentials and it starts right up.

[2022-05-24 19:16] UAlbanyErich commented on #43
Considering that the SpineLabeler hasn't changed in the last two weeks, the change must be on the ExLibris end.  Maybe the "fix" needs to be in SpineLabeler or maybe at ExLibris, but in the meantime, we're struggling with much more manual and inefficient label printing.

Any confirmation and/or comment by the repo owners?

[2022-05-25 13:58] mgobat commented on #43
@UAlbanyErich, could you please create an Support incident and report back the case number so I can push it through? Thanks.

[2022-05-26 19:51] sskaza commented on #18
Hi,
We seem to be experiencing a similar error, except when we create the string after "This XML file does not appear to have any style information associated with it. The document tree is shown below," we are given the XML metadata of the material. Do you happen to know what this means or how we can restart our connection?
Thanks!

[2022-05-27 19:55] mgobat commented on #18
@sskaza, which version of SpineOMatic are you using, and which particular error are you getting? There were two different errors mentioned earlier in the GitHub issue. If you are not running version 8.1.2, please upgrade.
https://github.com/ExLibrisGroup/SpineOMatic/releases/download/v8.1.2/SpineLabeler.exe

[2022-06-07 11:41] wolf5050 opened #45 "Centre align labels"
Hi,

Is there a way that I can automatically centre align labels in the SpineOMatic desktop app.

Currently everything is left aligned.

I want the label to look something like this;
    <p align="center">
 370.
 15
 DEW

Instead of having everything aligned to the left like this;
370.
15
DEW

The first two call numbers in the image are examples of how I would like the text to align when printing.

[2022-06-10 18:36] mgobat commented on #45
@wolf5050, the SpineOMatic Desktop application does not provide for automatically centering the lines of the label. If you are reviewing the labels before printing, you can manually adjust the label to align as you wish.

[2022-06-10 18:36] #45 closed

[2022-06-13 07:00] wolf5050 commented on #45
Thanks for the feedback.

On Fri, Jun 10, 2022 at 8:36 PM mgobat ***@***.***> wrote:

--

Disclaimer - This e-mail is subject to UWC policies and e-mail disclaimer
published on our website at: https://www.uwc.ac.za/disclaimer
<https://www.uwc.ac.za/disclaimer>

[2022-06-14 16:04] rmking48 opened #46 "8.1.2 XML error"
Hello,

We have recently newly installed the SpineOMatic program, but have not been successful in getting it to access ExLibris.  Other campuses in our district have not had problems and we have followed all of the very simple instructions and advice. We are unable to move the files to the C drive because of admin issues, but others have successfully run their programs from the desktop files which

[2022-06-14 16:11] mgobat commented on #46
@rmking48, is the program not working at all, or are you getting an XML error in the label window when you scan a barcode?

[2022-06-14 16:12] rmking48 commented on #46
Hello - we are able to update the various tabs and add the API key and Alma URL, but only when we scan a barcode do we get the error.

[2022-06-14 16:23] mgobat commented on #46
@rmking48, are the workstations at all campuses administered by the same IT team? Generally, this error occurs if the workstation is using a version of TLS < 1.2.  The application defers to the operating system to set the TLS version. Alma doesn't like anything less than 1.2.

[2022-06-14 16:26] rmking48 commented on #46
Correct - yes, we have different IT teams, and I have asked ours to verify if we have TLS 1.2 enabled, but so far no one has gotten back to us.

[2022-06-22 15:13] Deboracapon commented on #43
Hi,
We have the same issue. It was reported from a user with v7.0,  I upgrade to 8.1.2 and 8.0.0, and still the same, for now, we are using the cloud app, but is not working well with our classification labels.

[2022-06-22 16:05] UAlbanyErich commented on #43
Sorry for the delay.  I'm not used to submitting ExLibris support tickets.  [Case 06418671 is now created.](https://support.proquest.com//s/case/5003r00001TrpV7AAJ)

[2022-06-22 17:37] mgobat commented on #43
@Deboracapon, generally, this error occurs if the workstation is using a version of TLS < 1.2. The application defers to the operating system to set the TLS version. Alma doesn't like anything less than 1.2. Can you request your IT folks check? Thanks.

[2022-06-23 12:41] UAlbanyErich commented on #43
@mgobat It would be pretty unusual for a Win10 system to not be using TLS v1.2 these days.  [According to this](https://docs.microsoft.com/en-us/windows/win32/secauthn/tls-cipher-suites-in-windows-10-v1903), it is certainly the default for every cypher suite.  An organization would have to actively work to disable it (manually or via GPO).  That is definitely not the case for us, and we are gettin

[2022-06-23 13:50] mgobat commented on #43
@UAlbanyErich, could you please provide a few barcodes which should work? You can email me privately, if you prefer: mark.gobat@clarivate.com

Thanks.

[2022-06-23 16:07] UAlbanyErich commented on #43
Ha!  As with many technical problems that mysteriously don't work, we tried *one last time* with a new setup of v8.1.2 (exact same settings - from a settings file, not manually entered), and it worked!

I truly wish I could understand why it repeatedly didn't work and then did, but there are plenty of other priorities now that we need to deal with.

Thanks.

[2022-06-24 07:33] Deboracapon commented on #43
@UAlbanyErich @mgobat mysteriously happened the same to us yesterday, our IT was looking with me at the TLS thing... we are in 1.3 and then I tried once again to set up v8.1.2, and worked!! jajaja.

Technological mysteries...
Thanks for all, and have a good weekend

[2022-06-24 13:22] mgobat commented on #43
@BarbaraSalfate, is it working for you folks now, too? Thanks.

[2022-06-24 13:52] BarbaraSalfate commented on #43
Hi, yes is working for us now. I had a essue with it but I delete and install it again and now is working fine.

[2022-06-28 12:40] wtuohy opened #47 "Unable to retrieve XML file"
When the user scans the barcode on the book, the following error message is displayed:
"Can't retrieve XML file. Error message: The underlying connection was closed: An unexpected error occurred on a send.

During troubleshooting I "checked for updates" and received the following error:
Can't connect to SpineOMatic servers for updates and downloads.

The computer has network connectivity, has been

[2022-06-28 12:47] mgobat commented on #47
Is this with version 7.0? If so, please try upgrading to the latest version: https://github.com/ExLibrisGroup/SpineOMatic/releases/tag/v8.1.2

[2022-06-28 15:52] wtuohy commented on #47
Thank you. I did get the v8.1.2. However, I still get an error. This time the error was: (400) Bad request. ???
I'm thinking this is progress, just another issue?

[2022-06-28 16:01] mgobat commented on #47
@wtuohy, did the original problem with version 7.0 just start recently?

[2022-06-28 16:19] mgobat commented on #47
@wtuohy, did anything change on your workstations around that time? Please send me privately your institution code and several barcodes you know should work correctly. mark.gobat@clarivate.com. Thanks.

[2022-06-28 18:38] slbour opened #48 "Zebra printer errors after printing two spine labels."
I have a Zebra GC420t printer.  I installed the GC420t  (EPL) driver from Zebra Utilities.  I've set the driver preferences on the Options tab as follows.
Settings:  Darkness 15
Paper format:  inch, portrait, and Rotate 180 degrees
Size:  W: 1.00 & H:  2.00

I installed SpineOMatic as recommended.  I set the Printer Setup to point at the GC420t (EPL) printer, text font is Verdana 11.25 bold.

I ca

[2022-06-28 18:55] wtuohy commented on #47
Where can I find the institution code?

[2022-06-29 15:09] wtuohy commented on #47
The Alma URL as it's configured in SpineOMatic is as follows:  https://api-na.hosted.exlibrisgroup.com

[2022-06-29 15:09] wtuohy commented on #47
Barcodes to follow

[2022-06-29 19:13] mgobat commented on #47
@wtuohy, that is the API key I'm using. Is it possible that the barcodes in the item records in Alma do not have spaces? If I key in the barcodes as you supplied, with the spaces, I get the same error you are getting. If I key them in without the spaces, it works.

[2022-06-29 19:15] wtuohy commented on #47
We use a barcode scanner to enter the number. I don't believe it would include the spaces. I will manually enter the numbers without spaces and see if it works.

[2022-06-29 19:32] wtuohy commented on #47
I get the same Error: (400) Bad Request. However, when I check for updates, I get the message "Your version of SpineOMatic is current". So it seems to be connecting to the server now.

[2022-06-29 20:55] mgobat commented on #47
Hmmm...

Here's what I get with spaces in the barcode:
![spaces](https://user-images.githubusercontent.com/45852490/176542623-9e88f3d0-054e-4d41-80d8-0d7dc4a314f4.png)

Here's what I get without spaces in the barcode:
![no-spaces](https://user-images.githubusercontent.com/45852490/176542532-40ee727a-4072-4ee5-bf50-02b499eef27c.png)

I'm sure my label isn't the same as what you have defined, but th

[2022-08-09 19:11] KatieLai opened #49 "Can't preview"
Hi,

In the PC installed SpineOMatic, I've been trying to preview/print, but it's giving me this error screen (message copied below).  What did I do wrong?  Could you please advise how I can preview/print?  Many thanks.

Katie

This is my print setup.
<img width="521" alt="Screenshot 2022-08-09 at 3 11 08 PM" src="https://user-images.githubusercontent.com/110567414/183741971-fe9aec37-21ff-4075-9b9

[2022-08-09 19:26] KatieLai opened #50 "Print item call number if not empty. If empty, print holdings call number."
Hi,

I've tried both "Ex Libris parsing <parsed_call_number>" and "SpineOMatic parsing <call_number>", but they all print the holding call numbers only.  However, I want to print the holding call number only if item call number is empty and print the item call number if it's not empty.  Is there a way I can include this instruction in the program?  We use parse routine 5 in Alma.

Here is my curre

[2022-08-10 14:05] KatieLai commented on #49
Good morning!  Just wanted to say that when I tried SpineOMatic again this morning, everything works and I can print/preview.

But now I have another question -- Is there a way for me to specify the size of the cell padding so that the call number text is not printing right against the edge of each label?

Many thanks as always for your advice.

Katie

[2022-08-17 17:47] mgobat commented on #50
@KatieLai, I believe you are looking for the <alternative_call_number> element in the XML response from Alma. You could select the "SpineOMatic parsing" radio button and specify the "<alternative_call_number>" as the source of the information. Unfortunately, I don't believe there is a way to do "either this call number or that call number"....at least I'm not seeing any way documented on the Wiki

[2022-08-17 17:53] KatieLai commented on #50
Thank you @mgobat

Yes, that's what I did as a work around -- Using Spine Label type template for call numbers taken from the holding records, and a Custom Label type template for those taken from the item records.  It would be good to have the either or function though so that we can save the custom template for something else.

[2022-08-17 17:55] mgobat commented on #50
@KatieLai, I'll change this to an enhancement request.

[2022-08-17 18:13] mgobat commented on #49
@KatieLai, did you experiment with the "Left margin" setting on the "Print Setup" tab?

[2022-08-17 18:19] KatieLai commented on #49
Yes I did.  But somehow one morning, everything worked and I was able to print/preview!

By the way, is there an area to indicate the left padding size?  Since I don't see any (maybe I've just overlooked), I manually added 0.5cm left padding in my calculation of the left margin (resulting a left margin of 1.5 cm), but the call number text then shifted too much to the right...  Still need to fiddle

[2022-08-17 21:10] mgobat commented on #49
@KatieLai, yes, I think the left margin is the way to go...but apparently it doesn't give you the results you need. I think we added padding in the Cloud App version; I'll have to check.

[2022-08-17 21:12] KatieLai commented on #49
Yes, left padding is in the Cloud App, but not in the downloaded SpineOMatic software.

[2022-09-15 16:09] dancromwell opened #51 "Call Number Type 5 not currently handled?"
At one of the libraries in our consortium a call number type 5 is used for a particular location.  A user from this institution has reported an error using the SpineOMatic PC App for holdings marked with this type.   Is there a way to get call number type 5 handled with the PC app that I'm just not seeing?  It seems that "Other" handles 4, 7 and 8.  Five denotes a Title is used but I don't see a c

[2022-09-15 18:36] mgobat commented on #51
@dancromwell, what are the values for the fields on the "Call Number Format" tab in SpineOMatic? Is the "Ex Libris parsing" radio button selected with "<parsed_call_number>" set as the field to use? If the call number type is mapped to parsing routine 5 in Alma (https://knowledge.exlibrisgroup.com/Alma/Product_Documentation/010Alma_Online_Help_(English)/Physical_Resource_Management/070_Configuring

[2022-09-15 19:32] dancromwell commented on #51
@mgobat here is an image of the Current XML

![irsc-call-number-printing](https://user-images.githubusercontent.com/75325765/190492923-6a9ceb51-b1fd-471b-93cb-f4ffee65e048.png)

[2022-09-20 19:12] mgobat commented on #51
@dancromwell, I'm puzzled by this behavior. In the XML example you provided above, you should just see
[code]
as the call number on the label if the "Ex Libris parsing" radio button is selected and the <parsed_call_number> field is specified. It should be printing the call number as defined/parsed by Alma. These settings will give you the "Call# Parser: Ex Libris" text right below the scanned in c

[2022-09-20 20:49] dancromwell commented on #51
@mgobat on the "Call Number Format" tab in the SpineOMatic settings the "Ex Libris parsing" radio button is selected.   I do see there is a button for "Tweak $ Test" but this perhaps is only relevant to when "SpineOMatic parsing is selected, no?   I mention this because the 5 is indeed not handled by any of the call number types here and so I wonder if that is related to the message regarding not

[2022-09-20 20:54] dancromwell commented on #51
@mgobat here is an image of the Alma parsing table and Title is included which I would expect to be associated with 1st indicator 5:
![irsc_call_no_parsing_table](https://user-images.githubusercontent.com/75325765/191362482-0a40959a-8d40-475d-aa32-84f1e547b3d7.png)

[2022-09-28 17:23] shaw-spence opened #52 "Printable entries does not match printed lable"
After scanning in all items to batch print on the printer, the number of entries (in first image 61 entries listed) do not all show up in the print preview or in the final printed page. No option to adjust number of printed entries, please advise.
![image](https://user-images.githubusercontent.com/114608270/192847797-02443a87-c439-4dd8-b240-f1dfa0d06da4.png)
(image of Spinomatic 8.1.2 after all en

[2022-10-04 23:09] mar1ll10n commented on #47
Hello,

One of our staff also reported this issue today. However, it is only occurring on some workstations. Everything works as expected on some workstations. As far as we are aware nothing was changed on any of the workstations. Has anyone been able to resolve this issue yet? Any suggestions?

Note: the barcodes are being scanned in; not typed. There are no spaces in the barcode entries.

Thanks

[2022-10-11 08:34] MaggieMcGee commented on #41
If there is no call number in the item record? Will it pull it from the holdings?

Maggie
________________________________
From: mgobat ***@***.***>
Sent: Thursday, March 24, 2022 4:03 PM
To: ExLibrisGroup/SpineOMatic ***@***.***>
Cc: McGee, Margaret ***@***.***>; Author ***@***.***>
Subject: Re: [ExLibrisGroup/SpineOMatic] When using Parsed call number in the template, is it being pulled from the

[2022-10-11 18:53] mgobat commented on #41
@MaggieMcGee, what fields are you including in your template?

[2022-10-14 15:51] PamClark opened #53 "Blank Labels Between Prints"
When I print a second label, it leaves 3 blank labels between the first and second print job. How can I resolve this? Please help.

[2022-10-17 17:38] mgobat commented on #53
@PamClark, just to confirm; this is with the SpineOMatic Windows application and not the SpineOMatic Cloud App? We have a similar report in the Cloud App and want to ensure your issue is with the Windows app. Thanks.

[2022-10-18 17:15] dancromwell commented on #51
@mgobat I am guessing you have a lot of other pressing work.  Just wondering if you had a chance to look into this anymore.  Thanks.

[2022-10-18 19:41] PamClark commented on #53
Yes, it was the SpineOMatic Windows app. Another one of our IT people came over and figured out that the problem was in the label size setting. For some reason when I got a new computer, and SpineOMatic was reinstalled, we didn't get that setting set to our specifications. Thank you so much for checking on this issue!

[2022-10-18 20:08] mgobat commented on #53
@PamClark, glad you were able to resolve the problem!

[2022-10-18 20:08] #53 closed

[2022-10-20 19:03] ssLiu01 opened #54 "Prefixes in Pocket label"
Is there a way to add label prefixes in the pocket label? I try custom and add a + in front but didn't work.

[2022-10-20 19:29] dancromwell commented on #51
@mgobat OK, I understand.  My user is ust still puzzled about her use of the indicators 4 and 5 and the error message in SpineOMtic given we should be using Alma parsing per our setup of the mapping table.

[2022-10-20 21:05] mgobat commented on #54
@ssLiu01, including label prefixes on pocket labels is not supported. Sorry.

[2022-10-24 13:48] #54 closed, assigned to mgobat

[2022-10-26 12:07] BVGer-Bibliothek opened #55 "Call number format"
Hi,
We are currently testing SpineOMatic in our library and we are having some trouble with the formatting. Our call numbers have 5 elements and each element is separated by a space (for exemple **CA/CE 84 b MUKE 2020** or **A 8 g DIBI 2018** or **D 18.2 b FROW 2009**). On our labels, we have breaks after each element, except between the second and third element, which should remain on the same li

[2022-10-27 17:23] mgobat commented on #55
@BVGer-Bibliothek, if how you want the call number to print is not one of the ways Alma parses the call number, you may be able to get what you need by tweaking the call number parsing options. First, select "SpineOMatic parsing" on the "Call Number Format" tab rather than "Ex Libris parsing". Then specify "<call_number>" as the source (if not specified by default). Click the "Tweak & Test" link.

[2022-10-27 19:52] mgobat commented on #51
@dancromwell, let me confirm a few things. It's basically a summary of previous comments:

1. You have the "Ex Libris parsing" radio button selected with <parsed_call_number> as the source file.
2. Call number types 4 and 5 are NOT configured on any of the call number tabs on the "Tweak & Test" panel.
3. Scanning in a barcode for an item with call number type 4 does NOT produce a "Call number type

[2022-10-28 14:17] dancromwell commented on #51
@***@***.***>,

Here are my replies to the summary and assumptions:

  1.  You have the "Ex Libris parsing" radio button selected with <parsed_call_number> as the source file. [dec - Yes]
  2.  Call number types 4 and 5 are NOT configured on any of the call number tabs on the "Tweak & Test" panel. [dec - 4 is but 5 is not]
  3.  Scanning in a barcode for an item with call number type 4 does NOT pr

[2022-10-28 19:59] mgobat commented on #51
@dancromwell, its looking like the problem is the empty <call_no_1>. Is there ever a case where you'd have another part of the call number empty? For example, would you ever have values in <call_no_1> and <call_no_3>, but not <call_no_2>? The current code stops processing the call number when it finds an empty "part", hence why you get nothing on the label when <call_no_1> is empty.

[2022-11-17 15:05] BVGer-Bibliothek commented on #55
Thanks for your reply!